.container {
    background-color: gray;
}

.box {
    background-color: rgb(56, 112, 93);
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
    text-align: justify;
}

#box1 {
    float: right;
}

#box2 {
    float: left;
    width: 20%;
}

#box3{
    float: right;
    clear: left;
    width: 40%;
}

#box4{
    clear: right;

}